html{
    background-color: light beige;
}

div{
    margin: 0 auto;
    width: 600px;
}

.author-name{
    margin: 0;
    font-size: 14px;
}

.date{
    margin: 0;
    font-size: 11px;
    color: gray;
}

img{
    margin: 30px;
}

.suppressed-stress{
    margin-top: 10px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}